$grey-color: rgb(157, 151, 151);

.tweetCard {
  width: 600px;
  background-color: #fff;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 9px;

  &__header {
    display: flex;
    align-items: center;

    .header__meta {
      margin-left: 0.8rem;
      display: flex;
      flex-direction: column;

      & span:first-child {
        font-weight: 800;
      }

      & span:last-child {
        font-weight: 200;
        color: $grey-color;
      }
    }
  }

  &__body {
    margin: 1rem auto;
  }
  &__footer {
    border-top: 0.5px solid rgba(190, 185, 179, 0.5);
    padding-top: 0.5rem;
    display: flex;

    & > button {
      flex: 1;
      padding: 0.3rem 0;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      border-radius: 9px;

      &:hover {
        background-color: rgb(239, 239, 239);
      }
    }
  }
}
